fastapi==0.128.0
pytest==8.3.3
uvicorn==0.30.6

httpx==0.27.2
cryptography==43.0.3
SQLAlchemy==2.0.46
alembic==1.18.1
pydantic==2.11.9
pydantic-settings==2.8.1
PyYAML==6.0.2

# Authentication
argon2-cffi==23.1.0
PyJWT==2.8.0
